/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

svg {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.primary-button {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  border: 3px solid #333;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
 }

 .primary-button:hover {
  color: white;
  border-color:#1570BF;
  transition: all .3s;
 }
 
 .primary-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: #1570BF; */
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .primary-button:hover::before {
  background-color: #1570BF;
  transform: translateX(0);
 }

/* Top menu wrapper to center everything */
.top-menu-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  /* align-items: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

/* Top menu container */
.top-menu {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  height: 90px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

/* Left section: logo + nav links */
.left-section {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

/* Logo */
.logo img {
  height: 40px;
  margin-right: 2rem;
}

/* Nav links */
.nav-links ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #1570BF;
}

/* Right section: buttons */
.auth-buttons {
  display: flex;
  margin-right: 1rem;
  gap: 1rem;
}

.auth-buttons button {
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}

/* Centered Hero Banner */
.hero-section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem 2rem;
  background-color: #f5f7fa;
}

.hero-content {
  max-width: 800px;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #1570BF;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.75rem;
  color: #444;
  margin-bottom: 2rem;
}

.join-button {
  display: inline-block;
  color: #222;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  text-decoration: none;
}

/* New Section: Simple Section */
.simple-section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
}

.simple-section {
  padding: 4rem 2rem;
  background: #222;
}

.simple-section-item {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.simple-section-item h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #1570BF;
}

/* .simple-section-content {
  text-align: center;
  max-width: 800px;
}

.simple-section-content h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #1570BF;
  margin-bottom: 1rem;
}

.simple-section-content p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 2rem;
} */

/* Info Section */
.info-section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-section {
  padding: 4rem 2rem;
  background-color: #f5f7fa;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.info-item {
  width: 300px;
  text-align: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-item h3 {
  font-size: 1.5rem;
  color: #1570BF;
  margin-bottom: 1rem;
}

.info-item p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1.5rem;
}

.info-item .icon {
  font-size: 3rem;
  color: #007bff;
  margin-bottom: 1rem;
}

/* Pricing Section */
.pricing-section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.pricing-section {
  padding: 4rem 2rem;
  /* background-color: #f5f7fa; */
  background: #222;
}

.pricing-toggle-section {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.pricing-toggle-input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.pricing-toggle-label {
	cursor: pointer;
	text-indent: -9999px;
	/* width: 200px;
	height: 100px; */
  width: 100px;
  height: 50px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.pricing-toggle-label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.pricing-toggle-input:checked + .pricing-toggle-label {
	background: #1570BF;
}

.pricing-toggle-input:checked + .pricing-toggle-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.pricing-toggle-label:active:after {
	width: 65px;
}

.pricing-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.pricing-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  background-color: #fff;
}

.pricing-option h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.price {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1570BF;
}

.price-duration {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1rem;
}

.pricing-features {
  /* list-style: none; */
  margin: 1.5rem 0;
  padding: 0;
  color: #444;
  flex-grow: 1;
  text-align: left;
  position: relative;
}

.pricing-features li {
  position: relative;
  left: 0;
  color: #444;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #007bff;
  transition: 0.5s;
  cursor: pointer;
}
.pricing-features li:hover {
  left: 10px;
  color: #ffffff
}
.pricing-features li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.pricing-features li:hover span {
  color: #ffffff;
}
.pricing-features li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #007bff;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.pricing-features li:hover:before {
  transform: scaleX(1);
}

.purchase-btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  text-decoration: none;
}

/* Newsletter Section */
.newsletter-section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.newsletter-section {
  background-color: #f5f7fa;
  padding: 4rem 2rem;
  text-align: center;
}

.newsletter-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1570BF;
  margin-bottom: 1rem;
}

.newsletter-content p {
  font-size: 1.125rem;
  color: #444;
  margin-bottom: 2rem;
}

.newsletter-signup {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.email-input {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
}

.newsletter-btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Footer Section */
.footer {
  background-color: #222;
  color: #fff;
  padding: 4rem 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer-column {
  flex: 1;
  max-width: 300px;
}

.footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #007bff;
}

.footer-column p {
  font-size: 1rem;
  margin-top: 1rem;
}

.footer-column p a {
  color: #fff;
  text-decoration: none;
}

.footer-column p a:hover {
  color: #007bff;
}

/* Responsive design */
@media (max-width: 768px) {

  .top-menu {
    height: auto;
  }

  .top-menu-wrapper {
    max-width: 768px;
    padding: 0 0;
    height: auto;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }

  .pricing-container {
    flex-direction: column;
    align-items: center;
  }

  .pricing-option {
    width: 400px;
  }
}
